  # Eixos

In [2]:
import numpy as np
import pandas as pd

In [3]:
file = "c:\\Users\\dan\\Documents\\Curso Data Science\\Datasets\\drinks.csv"
drinks = pd.read_csv(file)
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'population', 'continent'],
      dtype='object')

In [4]:
drinks.head

<bound method NDFrame.head of          country  beer_servings  spirit_servings  wine_servings  \
0    Afghanistan              0                0              0
1        Albania             89              132             54
2        Algeria             25                0             14
3        Andorra            245              138            312
4         Angola            217               57             45
..           ...            ...              ...            ...
188    Venezuela            333              100              3
189      Vietnam            111                2              1
190        Yemen              6                0              0
191       Zambia             32               19              4
192     Zimbabwe             64               18              4

     total_litres_of_pure_alcohol  population      continent
0                             0.0  34.660.000           Asia
1                             4.9   2.876.000         Europe
2                             0.7  40.061.000         Africa
3                            12.4  77.281.000         Europe
4                             5.9  28.081.000         Africa
..                            ...         ...            ...
188                           7.7  30.620.404  South America
189                           2.0  93.448.000           Asia
190                           0.1  27.058.000           Asia
191                           2.5  15.473.905         Africa
192                           4.7  13.061.239         Africa

[193 rows x 7 columns]>

In [5]:
drinks.head(20)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
2,Algeria,25,0,14,0.7,40.061.000,Africa
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America
6,Argentina,193,25,221,8.3,43.085.000,South America
7,Armenia,21,179,11,3.8,2.925.000,Europe
8,Australia,261,72,212,10.4,24.013.000,Oceania
9,Austria,279,75,191,9.7,8.725.111,Europe
10,Azerbaijan,21,46,5,1.3,9.654.900,Europe
11,Bahamas,122,176,51,6.3,368.390,North America
12,Bahrain,42,63,7,2.0,1.359.800,Asia
13,Bangladesh,0,0,0,0.0,159.145.000,Asia
14,Barbados,143,173,36,6.3,285.000,North America
15,Belarus,142,373,42,14.4,9.485.300,Europe
16,Belgium,295,84,212,10.5,11.250.659,Europe
17,Belize,263,114,8,6.8,368.310,North America
18,Benin,34,4,13,1.1,10.315.244,Africa
19,Bhutan,23,0,0,0.4,765.650,Asia

In [7]:
a = drinks.drop('continent', axis=1).head()

In [8]:
a.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population
0,Afghanistan,0,0,0,0.0,34.660.000
1,Albania,89,132,54,4.9,2.876.000
2,Algeria,25,0,14,0.7,40.061.000
3,Andorra,245,138,312,12.4,77.281.000
4,Angola,217,57,45,5.9,28.081.000

In [9]:
drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent
0,Afghanistan,0,0,0,0.0,34.660.000,Asia
1,Albania,89,132,54,4.9,2.876.000,Europe
3,Andorra,245,138,312,12.4,77.281.000,Europe
4,Angola,217,57,45,5.9,28.081.000,Africa
5,Antigua & Barbuda,102,128,45,4.9,86.295,North America

Quando referenciamos linhas e colunas com o parâmetro axis:

. axis 0 = linhas

. axis 1 = colunas

In [10]:
drinks.mean()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

# Trabalhando com linhas e colunas

In [4]:
file= "c:\\Users\\dan\\Documents\\Curso Data Science\\Datasets\\eixos.csv"
eixos= pd.read_csv(file)
eixos.columns

Index(['A', 'B', 'C'], dtype='object')

In [12]:
eixos.head()

    A  B   C
0  10  5   5
1  10  5  10
2  10  5  15

# trabalhando com linhas

In [13]:
#configuração padrão é axis=0
eixos.mean()

A    10.0
B     5.0
C    10.0
dtype: float64

In [14]:
eixos.mean(axis=0)

A    10.0
B     5.0
C    10.0
dtype: float64

In [15]:
eixos.sum(axis=0)

A    30
B    15
C    30
dtype: int64

# Trabalhando com colunas

In [16]:
eixos.mean(axis=1)

0     6.666667
1     8.333333
2    10.000000
dtype: float64

In [17]:
eixos.sum(axis=1)

0    20
1    25
2    30
dtype: int64

# verificando os tipos

In [5]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
dtype: object

In [8]:
# método replace

A = 'RATO'
B = A.replace('R', 'p')
B

'pATO'

In [10]:
# alterando '.' por '' em uma coluna

inteiros = []

for item in drinks.population:
    a = item.replace('.','')
    b = int(a)
    inteiros.append(b)

In [12]:
inteiros[3]

77281000

In [13]:
type(inteiros[3])

int

In [14]:
drinks["pop_total"] = pd.Series(inteiros)

In [15]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,population,continent,pop_total
0,Afghanistan,0,0,0,0.0,34.660.000,Asia,34660000
1,Albania,89,132,54,4.9,2.876.000,Europe,2876000
2,Algeria,25,0,14,0.7,40.061.000,Africa,40061000
3,Andorra,245,138,312,12.4,77.281.000,Europe,77281000
4,Angola,217,57,45,5.9,28.081.000,Africa,28081000

In [16]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
population                       object
continent                        object
pop_total                         int64
dtype: object

In [17]:
New_drinks = drinks.drop('population', axis=1)

In [18]:
New_drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,pop_total
0,Afghanistan,0,0,0,0.0,Asia,34660000
1,Albania,89,132,54,4.9,Europe,2876000
2,Algeria,25,0,14,0.7,Africa,40061000
3,Andorra,245,138,312,12.4,Europe,77281000
4,Angola,217,57,45,5.9,Africa,28081000
...,...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,South America,30620404
189,Vietnam,111,2,1,2.0,Asia,93448000
190,Yemen,6,0,0,0.1,Asia,27058000
191,Zambia,32,19,4,2.5,Africa,15473905
192,Zimbabwe,64,18,4,4.7,Africa,13061239