# Métodos de Strings

In [1]:
import numpy as np
import pandas as pd

In [3]:
arquivo = "c:\\Users\\dan\\Documents\\Curso Data Science\\Datasets\\sanduiches.txt"
vendas = pd.read_table(arquivo)
vendas.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [4]:
# como utilizamos o método de string normalmente no Python puro
'data science'.upper()

'DATA SCIENCE'

# Os métodos de strings no Pandas são acessados via .str

In [6]:
vendas.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

In [9]:
vendas.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [10]:
#Aplicando a série ao dataframe de forma direta
vendas[vendas.item_name.str.contains('Chicken')].head(20)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
35,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, Rice]",$8.75
36,18,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
44,20,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
45,21,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$10.98
52,24,1,Chicken Burrito,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$10.98
63,28,1,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]",$8.75
68,30,1,Chicken Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$10.98
73,33,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75

In [21]:
vendas.item_name.str.contains('Tomato').head()

0     True
1    False
2    False
3    False
4    False
Name: item_name, dtype: bool

In [23]:
vendas[vendas.item_name.str.contains('Tomato')].head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
55,25,1,Chips and Fresh Tomato Salsa,NaN,$2.39
89,39,1,Chips and Fresh Tomato Salsa,NaN,$2.95
183,82,1,Chips and Fresh Tomato Salsa,NaN,$2.95
194,86,1,Chips and Fresh Tomato Salsa,NaN,$2.95
240,104,1,Chips and Fresh Tomato Salsa,NaN,$2.95
265,115,1,Chips and Fresh Tomato Salsa,NaN,$2.39
267,116,1,Chips and Fresh Tomato Salsa,NaN,$2.95
302,131,1,Chips and Fresh Tomato Salsa,NaN,$2.39
326,142,1,Chips and Fresh Tomato Salsa,NaN,$2.39
343,149,1,Chips and Fresh Tomato Salsa,NaN,$2.95
374,162,1,Chips and Fresh Tomato Salsa,NaN,$2.95
425,184,1,Chips and Fresh Tomato Salsa,NaN,$2.95
458,196,1,Chips and Fresh Tomato Salsa,NaN,$2.95
532,222,1,Chips and Fresh Tomato Salsa,NaN,$2.95
609,251,1,Chips and Fresh Tomato Salsa,NaN,$2.95
674,279,1,Chips and Mild Fresh Tomato Salsa,NaN,$3.00
725,299,1,Chips and Fresh Tomato Salsa,NaN,$2.95
730,301,1,Chips and Fresh Tomato Salsa,NaN,$2.29

Vamos retirar os colchetes da lista de ingredientes

In [25]:
a = vendas.choice_description.str.replace('[', '').str.replace(']', '').head(10)

In [27]:
vendas['choice_description'] = pd.Series(a)

In [29]:
vendas.head(20)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,Clementine,$3.39
2,1,1,Nantucket Nectar,Apple,$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"Tomatillo-Red Chili Salsa (Hot), Black Beans, ...",$16.98
5,3,1,Chicken Bowl,"Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"Tomatillo Red Chili Salsa, Fajita Vegetables, ...",$11.75
8,4,1,Steak Soft Tacos,"Tomatillo Green Chili Salsa, Pinto Beans, Chee...",$9.25
9,5,1,Steak Burrito,"Fresh Tomato Salsa, Rice, Black Beans, Pinto B...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,NaN,$8.75
12,6,1,Chicken Soft Tacos,NaN,$8.75
13,7,1,Chicken Bowl,NaN,$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,NaN,$8.49
17,9,1,Chicken Burrito,NaN,$8.49
18,9,2,Canned Soda,NaN,$2.18
19,10,1,Chicken Bowl,NaN,$8.75